@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
#tileRow{
    display: flex;
    background-color: white;
}

.colIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.colText{
    text-align: left;
    flex-grow: 3;
}

.colPlus{
    text-align: right;
}

.iconElement{
    display: block; 
    border: 0.15px solid black;
    width: 6em;
    height: 6em;
}

.colTextSub{
    margin: 0;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    padding-left: 20px;
    color: gray;
}

.colTextHeader{
    margin: 0;
    padding-bottom: 5pt;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: bold;
}


.listContainer{
    margin-top: 10pt;
    list-style-type: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

#tagCreate{
    width:150px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid grey;
}